# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/MatriculaWeb/target/
/MatriculaCore/target/
MatriculaCore/src/main/resources/spring.xml
MatriculaCore/src/main/java/pe/com/core/dao/MatriculaDAO.java
MatriculaCore/src/main/java/pe/com/core/dao/MatriculaDAOImp.java
MatriculaWeb/pom.xml
MatriculaWeb/src/main/java/pe/com/web/matriculaweb/RegistrarMatriculaS.java
MatriculaWeb/src/main/webapp/PrincipalAlumno.jsp
MatriculaWeb/src/main/webapp/SolicitarApertura.jsp
MatriculaWeb/src/main/webapp/template/CabeceraT.jsp
