<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/matriculadb" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="hibernate3AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>pe.com.core.model.Administrador</value>
                                <value>pe.com.core.model.Alumno</value>
                                <value>pe.com.core.model.Clase</value>
                                <value>pe.com.core.model.Curso</value>
                                <value>pe.com.core.model.Matricula</value>
                                <value>pe.com.core.model.Seccion</value>
                                <value>pe.com.core.model.Solicitud</value>
                                <value>pe.com.core.model.Usuario</value>                                
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
	</bean>
	
	<bean id="AdministradorDAO" class="pe.com.core.dao.AdministradorDAOImp">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>
        
        <bean id="AlumnoDAO" class="pe.com.core.dao.AlumnoDAOImp">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>
        
        <bean id="ClaseDAO" class="pe.com.core.dao.ClaseDAOImp">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>
        
        <bean id="CursoDAO" class="pe.com.core.dao.CursoDAOImp">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>
        
        <bean id="MatriculaDAO" class="pe.com.core.dao.MatriculaDAOImp">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>
        
        <bean id="SeccionDAO" class="pe.com.core.dao.SeccionDAOImp">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>
        
        <bean id="SolicitudDAO" class="pe.com.core.dao.SolicitudDAOImp">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>
        
        <bean id="UsuarioDAO" class="pe.com.core.dao.UsuarioDAOImp">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>
</beans>
